<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="RunAll">
		<classes>
			<class name="test.Test1" />
			<class name="test.Test2" />
			<class name="test.Test3">
				<methods>
					<exclude name="BuyRecord" />
				</methods>
			</class>
			<class name="test.Test4" />
		</classes>
	</test> <!-- Test -->
	<test name="Shopping">
		<classes>
			<class name="test.Test3">
				<methods>
					<exclude name="FAQs" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Registers">
		<classes>
			<class name="test.Test4">
				<methods>
					<include name="WebRegister" />
				</methods>
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->