<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="URL" value="https://www.google.com/" />
	<parameter name="Country" value="México" />
	<parameter name="habitants" value = "995843210"/>
	<test thread-count="5" name="RunAllClasses">
		<classes>
			<class name="test.Test1" />
			<class name="test.Test2" />
			<class name="test.Test3">
				<methods>
					<exclude name="BuyRecord" />
				</methods>
			</class>
			<class name="test.Test4" />
			<class name="test.Test5"></class>
		</classes>
	</test> <!-- Test -->
	<test name="Shopping">
		<parameter name="URL" value="https://www.nintendo.com/" />
		<classes>
			<class name="test.Test3">
				<methods>
					<exclude name="Mobile.*" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	<test name="Registers">
		<classes>
			<class name="test.Test4">
				<methods>
					<include name="WebRegister" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->